* {
    box-sizing: border-box;
    display: inline-block;
}
body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.5;
}


#welcome {
    border: 2px solid orange;
    padding: 70px 100px;
}

#welcome h2 {
    /* height: auto; */
    background-color: black;
    text-align: center;
}

#welcome p {
    width: 80%; 
    /* height: 50px; */
    background-color: gray;
    margin: 20px auto;
}
#welcome img {
    width: 100%;
}

/* Hãy xem background, height nhiều zô, có khi sẽ auto, 100% */